.profile {
    display: flex;
}

.profileRight {
    flex: 9;
}

.profileCover {
    height: 460px;
    position: relative;
}

.profileCoverImage {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.profileUserImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
    position: absolute;
    inset: 0;
    margin: auto;
    top: 250px;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.profileInfoUsername {
    font-size: 24px;
    text-transform: capitalize;
}

.profileInfoDescription {
    font-weight: 300;
}


.profileRightBottom {
    display: flex;
}